@import "config";
@import "reset";
@import "widgets";

a{
	color: $anchor-color; text-decoration: none;
	&:hover{
		color: darken($anchor-color, 10%);
	}
}

a.button, input[type="submit"], input[type="button"], button{
	cursor: pointer; color: #FFF; background-color: $anchor-color; border: 0; padding: 4px 8px; font-family: $secondary-font-family; font-size: 0.9em;
	&:hover{
		background-color: darken($anchor-color, 10%);
	}
	&.large{ padding: 12px 20px; font-size: 1.2em; }
}

img{
	max-width: 100%; height: auto; 
}


// Body
body{
	font-family: $font-family; font-size: 16px; color: $text-color;
	&.spacing{
		padding: 70px 0 0 0;
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: $font-family; font-weight: 400; margin: 0 0 6px 0;
}
h1{ font-size: 2em; line-height: 1.5em; }
h2{ font-size: 1.6em; line-height: 1.5em; }
h3{ font-size: 1.4em; line-height: 1.5em; }
h4{ font-size: 1.1em; line-height: 1.5em; }
h5{ font-size: 1em; line-height: 1.5em; }
h6{ font-size: 0.8em; line-height: 1.5em; }

p{ font-family: $secondary-font-family; font-size: 1.1em; line-height: $line-height; @include default-margin; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"]{
	border: 1px solid #eaeaea; padding: 0 10px; height: 26px; font-size: 0.9em; -webkit-appearance: none; outline: 0;
}

// Global container
div.container{
	width: 800px; margin: 0 auto;
}

// Header
header#header{
	width: 100%;
	// Navigation
	nav#navigation{
		width: 100%; z-index: 100;
		 position: fixed; top: 0; left: 0;
		height: 50px;
		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-ms-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
		ul.menu{
			letter-spacing: -4px; float: right;
			li{
				display: inline-block; letter-spacing: normal;
				a{
					display: block; height: 50px; line-height: 50px; padding: 0 20px;
					color: #FFF;
					&:hover{
						color: $navigation-link-color-hover; background-color: $navigation-link-background-hover;
					}
				}
				&.logo{
					a{
						font-family: $secondary-font-family;
					}
				}
			}
			&:first-of-type{ float: left; }
		}

		div#mobile-menu{
			float: right; display: none; text-transform: uppercase; font-size: 0.8em;
			a{ color: #FFF; display: block; height: 50px; line-height: 50px; padding: 0 20px;
				i{ margin: 0 0 0 4px; }
			}
		}

		&.bg{
			background-color: rgba(255,255,255,0.9); box-shadow: 0px 0px 2px #888;
			ul.menu{
				li{
					a{
						color: $navigation-link-color;
						&:hover{
							color: $navigation-link-color-hover; background-color: $navigation-link-background-hover;
						}
					}
				}
			}

			div#mobile-menu{
				a{ color: $navigation-link-color; }
			}
		}
	}
}

body.admin-bar{
	header#header{
		nav#navigation{
			top: 32px;
		}
	}
}

header#hero{
	margin: 0 0 20px 0; color: #FFF; 
	background-image: url(../images/background.png); background-repeat: repeat; background-position: center; text-align: center; padding: 140px 0;
	h1{ position: relative; z-index: 11; color: #FFF; font-family: $secondary-font-family; padding: 20px 10px; font-size: 5em; }
	p{ font-size: 2em; }
	&.small{
		display: none;
	}
}

// Main
div#main{
	padding: 0 0 30px 0;

	section.single{
		article{
			div.featured-image{
				div.overlay{
					position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); content: ''; z-index: 10;
				}
				height: 500px; text-align: center; background-color: #eaeaea; position: relative; background-size: cover; margin: 0 0 30px 0;
				h1{ position: relative; z-index: 11; color: #FFF; font-family: $secondary-font-family; padding: 150px 0px 0; font-size: 5em; text-shadow: 0px 2px 5px #888; }
				p{ position: relative; z-index: 12; color: #FFF; font-size: 1.5em; margin: 0 0 10px 0; display: block; text-shadow: 0px 2px 5px #888; }
				a.button{ display: inline-block; position: relative; z-index: 13;  }
				&:after{
					z-index: 15; content: "\f078"; font-size: 30px; font-family:FontAwesome; font-style:normal; font-weight:normal; line-height:1; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; position: absolute; bottom: 20px; right: 50px; color: #FFF;
				}
			}

			h1{ font-size: 3em; }

			span.date{
				margin: 0 0 20px 0; padding: 0 0 20px 0; font-size: 0.9em; display: block; text-align: left; border-bottom: 1px solid #eaeaea;
			}

			div.panel{
				background-color: #eaeaea; padding: 15px 25px; @include default-margin; border-radius: 5px;
			}

			// Import the default content styling
			@import "content";

			&.type-portfolio{
				ul.skills{
					letter-spacing: -4px; list-style-type: none; margin: 0; padding: 0;
					li.skill{
						letter-spacing: normal; display: inline-block; background-color: #3a3a3a; font-size: 0.7em; color: #FFF; padding: 0px 10px; border-radius: 2px; margin: 0 5px 5px 0;
					}
				}
			}
		}
	}

	section.archive{
		article{
			div.container{
				border-bottom: 1px solid #eaeaea; margin: 0 auto 30px; padding: 0 0 30px 0;
			}
			h1{ font-size: 3em; }
			h1, span{
				a{ color: $text-color; 
					&:hover{ color: $anchor-color; }
				}
			}

			span.date{ font-size: 0.9em; margin: 0 0 15px 0; display: block; }
		}

		&.portfolio{
			margin: 40px 0 0 0; overflow: hidden;
			article{
				width: 46%; margin: 0 2% 40px 2%; float: left; text-align: center; padding: 0 0 10px 0;
				img{ margin: 0 0 25px 0; border-radius: 50%; opacity: 0.6;
					-webkit-transition: all .4s ease;
					-moz-transition: all .4s ease;
					-ms-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;
					&:hover{ opacity: 1; }
				 }
			}
		}

		nav.pagination{
			clear: both; width: 100%; text-align: center;
			.page-numbers{
				background-color: $secondary-color; text-align: center; height: 30px; color: #FFF; display: inline-block; line-height: 30px; padding: 0 11px;
				&.current, &:hover{
					background-color: darken($secondary-color, 10%);
				}
			}
		}
	}
}

// Footer
footer#footer{
	background-color: $footer-background-color; padding: 0 0 60px; display: table; width: 100%;
	border-top: 5px solid $footer-border-color; margin: 52px 0 0 0;
	.face{
		overflow: hidden; text-align: center; margin: -52px auto 30px; 
	}

	ul.sidebar{
		letter-spacing: -4px; width: 40%; display: inline-block; list-style-type: none; float: left;
		li.widget{
			h2.widgettitle{
				font-size: 1.1em; 
			}
			&.widget_recent_entries,
			&.widget_nav_menu{
				ul{
					list-style-type: none; font-family: $secondary-font-family;
					li{
						a{ font-size: 0.9em; }
					}
				}
			}
		}
		&.column-2{ float: right; width: 60%; text-align: right; }
	}
}

@media screen and (max-width: 849px){
	div.container{
		width: 100%; padding: 20px;
	}

	header#hero{
		padding: 60px 0 50px;
		h1{ font-size: 3em; }
	}
}

@media screen and (max-width: 782px){
	body.admin-bar{
		header#header{
			nav#navigation{
				top: 0;
			}
		}
	}

	// Main
	div#main{
		section.single{
			article{
				div.featured-image{
					height: auto;
					h1{
						font-size: 4em; padding: 80px 10px 40px;
					}
					a.button{ margin: 0 0 80px; }
				}
			}
		}
	}
}

@media screen and (max-width: 549px){
	body{
		font-size: 14px;
	}

	header#header{
		nav#navigation, nav#navigation.bg{ 
			ul.menu.links{ //display: none;
				-webkit-transition: all .4s ease;
				-moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;
				width: 230px; position: fixed; top: 0; right: -230px; height: 100%; background-color: #3a3a3a;
				li{ display: block; width: 230px; background-color: #3a3a3a; border-bottom: 1px solid #2b2b2b;
					a{ padding: 0 20px; color: #FFF; }
				}
			}
			ul.menu{
				li a{
					padding: 0 10px; 
				}
			}
			div#mobile-menu{ display: block; }
		}
	}

	body.menu-open{
		header#header{
			nav#navigation{
				left: -230px;
				ul.menu.links{
					right: 0px;
				}
				div#mobile-menu{
					a{
						// Switch icon to a 'close' button 
						i.fa.fa-bars:before{
							content: "\f00d";
						}
					}
				}
			}
		}
	}

	// Main
	div#main{
		section.single{
			article{
				div.featured-image{
					h1{
						font-size: 3em;
					}
				}

				.alignright, .alignleft, .aligncenter{
					display: block; clear: both; float: none; margin: 0 auto 20px;
				}
			}
		}
		section.archive{
			&.portfolio{
				article{
					width: 100%; margin: 0 0 40px 0; 
				}
			}
		}
	}

	footer#footer{
		ul.sidebar, ul.sidebar.column-2{
			width: 100%; margin: 0;
			text-align: left;
			ul li a{
				font-size: 1em !important;
			}
		}
	}
}